footer {
    margin: 5rem auto 2rem auto; //standard margins 
    background-color: @main-color;

    nav {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5.5rem;
        padding-top: 3.5rem;
        
        @media @phone {
            display: flex;
            flex-direction: column;
            align-items: center;
        
            width: 100%;
          }

    }

}