.bg{
    background-color: #104032;
    color:white;
    width:100%;
    padding: 5rem 4rem;
    
  
    img{
        width: 20%;
        position: absolute;
        margin-left: 90rem;
      

       
    }
    h1,h2,p{
        width: 50%;
        margin: 2rem 0.2rem 1rem 3rem;
    }
        .nav{
            display:flex;
            justify-content: flex-end;
            padding-bottom: 3.5rem;
            
            
        }

}

a{
    text-decoration: none;
    margin: auto auto auto auto;
    font-size: 1.5rem;
    color:white;

}

